html, body {
	height: 100%;
}

body {
font-family: 'Open Sans', sans-serif;	/*background: #D6E4EC;*/
	width: 100%;
	height: 100%;
}

footer {
	text-align: center;
	padding: 50px 0;
	color: #ADADAD;
	font-size: 14px;
}

.logo {
	height: 60px;
}

#splash {
	background: url(../img/splash4.jpg);
	background-size: 100%;
}

#splash .logo {
	margin: 30px 0 0 50px;
	position: relative;
	z-index: 10;
}

#splash h1 {
	font-size: 58px;
	position: absolute;
	text-transform: uppercase;
	color: #fff;
	background: #000;
	font-weight: bold;
	padding: 8px 24px;
	left: 0;
	bottom: 80px;
	line-height: 1.2;
}

#splash .begin {
	font-size: 61px;
	position: absolute;
	text-transform: uppercase;
	color: #000;
	background: #FFEC00;
	text-decoration: none;
	font-weight: bold;
	padding: 8px 24px;
	right: 0;
	top: 80px;
	line-height: 1.2;
}

#splash #sideDesc {
	font-size: 38px;
	text-transform: uppercase;
	position: absolute;
	color: #000;
	font-weight: bold;
	padding-right: 24px;
	right: 0;
	bottom: 80px;
	text-align: right;
	line-height: 1.2;
	width: 400px;
	-webkit-animation-duration: 4s;
	-webkit-animation-delay: 2s;
}

#start {
	background: #E5E5E5;
}

#start .main-header {
	padding: 20px 0;
	height: 60px;
	background: #333A3F;
}

#start .container {
	width: 900px;
	margin: 0 auto;
}

#start .command {
	position: relative;
	padding: 22px 0 86px 0;
}

#start .command input {
	width: 850px;
	border: 0;
	padding: 18px 20px;
	border-radius: 4px;
	font-family: inherit;
	font-size: 28px;
	border: 5px solid #202021;
}

#start .command h1 {
	font-size: 30px;
	color: #A5BBCB;
	margin-bottom: 30px;
}

#start .command .down-arrow {
	height: 30px;
	width: 60px;
	display: block;
	margin: 0 auto;
}

#start .signals {
	width: 900px;
	margin: -54px auto 0 auto;
	z-index: 1;
	position: relative;

	border-radius: 4px;
	overflow: hidden;
}

#start .signals header {
	background: #71808B;
}

#start .signals header nav {
	position: absolute;
	right: 0;
	top: 0;
	margin: 8px 0;
	height: 34px;
	z-index: 2;
	overflow: hidden;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

#start .signals header nav a {
	height: 34px;
	line-height: 34px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 0 14px;
	text-decoration: none;
	display: block;
	float: left;
}

#start .signals header nav .go {
	background: #A6FF45;
	color: #32530D;
}

#start .signals header nav .clear {
	background: #D8D8D8;
	color: #5E5E5E;
}

#start .signals header h1 {
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	color: #2B3136;
}

#start .signals .stuff {
	min-height: 335px;
	background: #F5F5F5;
}

#start .signals .empty {
	padding: 84px 0 100px 0;
	text-align: center;
	left: 0;
	position: absolute;
	height: 335px;
	width: 100%;
}

#start .signals .empty.gone {
	left: 100%;
	opacity: 0;
	transition: .5s;
}

#start .signals .empty h1 {
	font-weight: bold;
	font-size: 110px;
	margin-bottom: 25px;
	color: #DBDBDB;
}

#start .signals .empty h2 {
	color: #767676;
}

#start .signals ul li {
	background: #fff;
	font-size: 30px;
	padding: 20px;
	margin-bottom: 1px;
}

#start .logo {
	float: left;
	margin-right: 30px;
}

#button {
	padding: 200px;
}

#makeWealth {
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.5s;
}

#startLink {
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 1s;
}

.hide {
	display: none;
}

#postQuery {
	margin-top: -500px;
}

#postQuery .container {
	padding: 20px 30px;
}

#colorBg {
	position: absolute;
	width: 100%;
	height: 278px;
	background-color: #333a3f;
	border-bottom: 15px solid #cccccc;
}

#loadingSpinner {
	text-align: center;
	margin-top: -180px;
}

.post-head {
	font-size: 30px;
	color: #A5BBCB;
	padding-bottom: 30px;
}

#btResults {
	height: 500px;
	width: 100%;
	background-color: #fff;
}

.notLaggy {
	-webkit-animation-duration: 0.5s !important;
}