.amap {
  width: 100%;
}

.centered {
  text-align: center;
}

.strong-buy {
  background-color: #11644D;
}

.weak-buy {
  background-color: #A0B046;
}

.hold {
  background-color: #F2C94E;
}

.weak-sell {
  background-color: #F78145;
}

.strong-sell {
  background-color: #F24E4E;
}

td.rec {
  color: #fff;
  font-weight: bold;
}
