.amap {
  width: 100%;
}

.centered {
  text-align: center;
}

.strong-buy {
  background-color: #11644D !important;
}

.weak-buy {
  background-color: #A0B046 !important;
}

.hold {
  background-color: #F2C94E !important;
}

.weak-sell {
  background-color: #F78145 !important;
}

.strong-sell {
  background-color: #F24E4E !important;
}

td.rec {
  color: #fff;
  font-weight: bold;
}
